<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
        package="app.getfeeling.feeling">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
            android:name="FeelingApp"
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme.Launcher"
            android:usesCleartextTraffic="true"> <!-- TODO remove once we have https api -->

        <meta-data
                android:name="asset_statements"
                android:resource="@string/asset_statements" />

        <activity
                android:name=".MainActivity"
                android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                        android:host="callback"
                        android:scheme="feeling" />
            </intent-filter>
        </activity>
        <activity
                android:name="android.support.customtabs.trusted.LauncherActivity"
                android:label="${launcherName}">
            <meta-data
                    android:name="android.support.customtabs.trusted.DEFAULT_URL"
                    android:value="${defaultUrl}" />

            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                        android:host="${hostName}"
                        android:scheme="https" />
            </intent-filter>

        </activity>

    </application>

</manifest>
